body{font-family:"Hiragino Kaku Gothic ProN","メイリオ",sans-serif;
}

header{
    width:100%;
    height:60px;
    background-color: black;
}

div.menu li{
    padding-left: 40PX;
    float: left;
    color: white;
    font-size: 15px;
    line-height: 60px;
    list-style-type: none;
}

.main{
    clear: both;
}

.main-container{
    width: 95%;
    margin:0 outo;
    margin-top: 30px;
}

.left{
    float:left;
    width:70%;
    padding-right: 50px;
}

div.left h1{
    border-left: 5px solid black;
    border-bottom: 2px solid black;
}



h2{ margin-left:15px;
    margin-top:30px;
    margin-bottom:20px;
    border-left:4px red solid;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    width:500px;
    font-size:20px;
}

form{
    background-color: #fbfbfb;
    border:3px #ebebeb solid;
    width:100%;
}

form div{
    padding:15px;
}

.text,textarea,.dropdown{
    border:1px solid #dfdfdf;
    padding:5px;
    color:#999;
    background:#fff;
}

.submit{
    border:1px solid lightgray;
    padding:4px 10px;
    color:white;
    background-color: #bfbfbf;
    border-radius:5px;
    border-bottom:solid 2px gray;
}

.kiji{
    background-color: #fbfbfb;
    border:3px #ebebeb solid;
    margin-bottom: 10px;
    margin-top: 10px;
    width:98%;
    padding:10px 10px;
}



.kiji h3{
    border-bottom: 2px solid lightgray;
}

.contents{
    margin:5px;
    padding-bottom:5px;
}

.handlname{
    font-size:12px;
}

.right{
    float:left;
    width:25%;
}

div.right h2{
    border-bottom: 2px dotted black;
}

div.right li{
    font-size: 15px;
    list-style-type: none;
    padding-left: 30px;
}

footer {
    clear:left;
    margin-top: 60px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 60px;
}

h4{
    border-bottom: 2px solid black;
    margin:0 auto;
    margin-top:30px;
    margin-bottom:20px;
    padding-top:5px;
    width:500px;
    font-size:20px;
}